<h1>Porfolio Items </h1>

<a href="portmanteaus/new">Create New Portfolio </a>

<%= link_to "Create New Item", new_portmanteau_path %>

<%# this is the relative path, use most of the time %>

<p>
<%#=  new_portmanteau_path %>
</p>

<%# this is the absolute path, use for emails %>

<p>
<%# =  new_portmanteau_url%>
</p>

<% @portfolio_items.each do |p| %>
  <p><%= link_to p.title, portmanteau_show_path(p) %></p>
  <p><%= p.subtitle %></p>
  <p><%= p.body%></p>
  <p><%= image_tag p.thumb_image unless p.thumb_image.nil? %> </p>
  <p><%= link_to "Edit Item", edit_portmanteau_path(p) %></p>
  <p><%= link_to 'Delete Item',portmanteau_path(p) , method: :delete, data: { confirm: 'Are you sure?'} %>
  <hr/> 
  <%#= link_to "Edit Item", edit_portmanteau_path(p.id) %>
<%end %>
