<h1>Porfolio Items </h1>

<a href="portmanteaus/new">Create New Portfolio </a>

<%= link_to "Create New Item", new_portmanteau_path %>

<%# this is the relative path, use most of the time %>

<p>
<%=  new_portmanteau_path %>
</p>

<%# this is the absolute path, use for emails %>

<p>
<%=  new_portmanteau_url%>
</p>

<% @portfolio_items.each do |p| %>
  <p><%= p.title %></p>
  <p><%= p.subtitle %></p>
  <p><%= p.body%></p>
  <%= image_tag p.thumb_image unless p.thumb_image.nil? %>
  <%= link_to "Edit Item", edit_portmanteau_path(p.id) %>
<%end %>
