<div class="container">
  <div class="row">
    <div class="col-md-7">
      <p><%= image_tag portfolio_img(@portmanteau.thumb_image.url,'thumb') unless @portmanteau.thumb_image.nil? %> </p>
    </div>
    <div class="col-md-5">
      <h1><%= @portmanteau.title %></h1>
      <hr>
      <em><%= @portmanteau.subtitle %> </em>

      <p><%= @portmanteau.body%> </p>

      <hr>

      <h3>Technologies Used </h3>
      <% @portmanteau.technologies.each do |t| %>
        <p> <%= t.name %> </p>
      <% end %>

    </div>
  </div>
</div>

<%#= params.inspect %>
<%#= session.inspect %>
