
<%= image_tag @portmanteau.main_image %>

<h1><%= @portmanteau.title %></h1>

<em><%= @portmanteau.subtitle %> </em>

<p><%= @portmanteau.body%> </p>

<h2>Technologies Used </h2>
  <% @portmanteau.technologies.each do |t| %>
    <p> <%= t.name %> </p>
  <% end %>


