<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'shared/blog_nav' %>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

  <!-- snagged from header -guessing - of bootstrap4/blog.index.html -->


    <%= yield %>

  <footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
    <%#= render "shared/nav", location: "bottom" %>
    
    <%#= source_helper("blog") %>
    </div>
</main>
  </div>
  
  </body>
</html>
